.brown{
    background-image:url(images/hero.jpg)   ;
    background-size: cover;
    background-position: center;
}



.head{
    text-align: center;
    text-transform: uppercase;
    font: 500 30px/1.5 'Arial', sans-serif  ;
    color: rgb(0, 0, 0);
    margin: 20px auto;  
}
.form{
    background-color: rgb(189, 216, 216);
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px; 

}

.name{
    text-align: center;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px ;
    padding: 1px;
    color: rgb(15, 49, 201);
    font-size: 20px;
       

}
.email{
    text-align: center;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px ;
    padding: 10px;
    padding: 1px;
    color: rgb(15, 49, 201);
    font-size: 20px;
}
.email input, .name input, .pasword input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: rgb(15, 49, 201);
    background-color: rgb(14, 231, 231);
    border: 1px solid rgb(15, 49, 201);
    box-shadow: 0 0 10px rgba(14, 3, 3, 0.1);
    transition: box-shadow 0.3s ease;
    

}
.pasword{
    text-align: center;
    margin: 20px auto;
    width: 300px;  
    border-radius: 10px ;
    padding: 1px;  
    color: rgb(15, 49, 201);
    font-size: 20px;
    
}
.button{
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    width: 300px;   
    padding: 10px;  
    background-color: rgb(142, 137, 153);   
    color: rgb(15, 49, 201);
    font-size: 20px; 

}
.button-position{
    text-align: center;

}
.signup{
    text-align: center;
    margin: 20px auto;
    width: 300px;
}   